/* styles.css */
body {
    margin: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.title {
  margin: 0 20px;
  font-size: 28px;
}

.hamburger {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  display: none;
}

.ul-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ul-nav li {
  margin: 0px 18px;
}

.ul-nav a {
 font-size: 30px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}



.carousel {
    overflow: hidden;
    width: 100%; /* Se ajusta al ancho completo del contenedor */
    height: 450px;
    position: relative;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Se expande al ancho disponible */
    height: 100%; /* Coincide con la altura del contenedor */
}

.carousel-images img {
    width: 100%; /* Cada imagen ocupa todo el ancho */
    height: 100%; /* Y toda la altura */
    object-fit: cover;
    flex-shrink: 0; /* Evita que se reduzcan al hacer scroll */
}

.enunciado {
  color: #055f2b;
}

/*  Responsive behavior */
@media screen and (max-width: 600px) {
  .navbar {
    text-align: left;
    
  }

  .hamburger {
    display: block;
  }

  .navbar ul {
    flex-direction: column;
    display: none;
    gap: 15px;
    margin-top: 10px;
  }

  .navbar ul.show {
    display: flex;
  }
 .logo {
  display: none;
  
}

}

.enunciado {
  text-align: center;
}
.container-card {
  display: flex;
  gap: 100px;
  justify-content: center; /* Opcional, centra las cards en la p谩gina */
  flex-wrap: wrap; /* Por si la pantalla es peque帽a */
margin-top: 50px;
}
.card-title {
  text-align: center;
}
.card1 {
  width: 22rem;
  height: 22rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra m谩s pronunciada pero suave */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 1px solid #e0e6ed; /* Borde sutil */
    border-radius: 15px;
    margin-left: 90px;
}
.card1:hover {
   transform: translateY(-6px);
}

.card2 {
   width: 22rem;
  height: 22rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra m谩s pronunciada pero suave */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 1px solid #e0e6ed; /* Borde sutil */
    border-radius: 15px;
}
.card2:hover {
   transform: translateY(-6px);
}
.card3{
   width: 22rem;
  height: 22rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra m谩s pronunciada pero suave */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border: 1px solid #e0e6ed; /* Borde sutil */
    border-radius: 15px;
}
.card3:hover {
   transform: translateY(-6px);
}
.card-img-top {
  width: 150px;
  height: 150px;
  border-radius: 50px;
   margin-left: 100px;
  
}
.card-img-top2 {
  width: 150px;
  height: 150px;
  border-radius: 50px;
  margin-left: 100px;
 
}

.card-img-top3 {
 width: 150px;
  height: 150px;
  border-radius: 50px;
   margin-left: 100px;
 }
.containe_google {

   height: 475px;
   width: 250px;
   display: grid;
   grid-template-rows: 1fr 0.3fr 0.3fr ;
   text-align: center;
   align-items: center;
   margin-top: 20px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Sombra m谩s pronunciada pero suave */
   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
   border: 1px solid #e0e6ed; /* Borde sutil */
   border-radius: 15px; /* Bordes m谩s redondeados */
   }
   .matferline{
    padding-top: 40px;
    transition: transform 0.5s;
   }
   .matferline:hover {
     transform: translateY(-5px); /* Efecto de elevaci贸n al pasar el rat贸n */
 }
   .google-play{
    padding-top: 40px;
    transition: transform 0.5s;
   }
   .google-play:hover {
   transform: translateY(-5px); /* Efecto de elevaci贸n al pasar el rat贸n */
  
   }
  .apple-store{
    padding-top: 40px;
    padding-bottom: 40px;
    transition: transform 0.5s;
  }
.apple-store:hover {
   transform: translateY(-5px); /* Efecto de elevaci贸n al pasar el rat贸n */
  
  }
  .containe_google:hover{
      transform: translateY(-5px); /* Efecto de elevaci贸n al pasar el rat贸n */
  }


  @media screen and (min-width: 600px) {
    .footer {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
    
    }
  }

  .footer-inicio p{
    color: white;
  }
  .columna2 li a:hover {
font-size: 25px;

  }
  .columna2 li a{
 text-decoration: none;

  }
  .columna2 ul{
    list-style:none;
    padding:0;
    text-decoration: none;
  }
.telefono {
  color: aliceblue;
 text-decoration: none;
 margin-bottom: 10px;
}
.telefono:hover {
color: #1b8446;
}


