/* styles.css */
body {
    margin: 0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.title {
  margin: 0 20px;
  font-size: 28px;
}

.hamburger {
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  display: none;
}

.ul-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ul-nav li {
  margin: 0px 18px;
}

.ul-nav a {
 font-size: 30px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}



.carousel {
    overflow: hidden;
    width: 100%; /* Se ajusta al ancho completo del contenedor */
    height: 450px;
    position: relative;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* Se expande al ancho disponible */
    height: 100%; /* Coincide con la altura del contenedor */
}

.carousel-images img {
    width: 100%; /* Cada imagen ocupa todo el ancho */
    height: 100%; /* Y toda la altura */
    object-fit: cover;
    flex-shrink: 0; /* Evita que se reduzcan al hacer scroll */
}

.enunciado {
  color: #055f2b;
}

/* 🔄 Responsive behavior */
@media screen and (max-width: 600px) {
  .navbar {
    text-align: left;
    
  }

  .hamburger {
    display: block;
  }

  .navbar ul {
    flex-direction: column;
    display: none;
    gap: 15px;
    margin-top: 10px;
  }

  .navbar ul.show {
    display: flex;
  }
 .logo {
  display: none;
  
}

}

.enunciado {
  text-align: center;
}
.container-card {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  gap: 90px;
  justify-content: center; /* Opcional, centra las cards en la página */
  flex-wrap: wrap; /* Por si la pantalla es pequeña */
}
.card-img-top {
  width: 150px;
  border-radius: 50px;
}
.card-img-top2 {
  width: 150px;
  border-radius: 50px;
}

.card-img-top3 {
  width: 150px;
  border-radius: 50px;
}
.containe_google {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
    
  }
   .google-play{
    padding-top: 90px;
   }
  .apple-store{
    padding-top: 90px;
  }
  .containe_google h2 {
    color: #005f73;
    padding-top: 80px;
   
    text-align: center;
    font-size: 1.5rem;

  }


  @media screen and (min-width: 600px) {
    .footer {
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
    
    }
  }

.telefono {
  color: aliceblue;
 text-decoration: none;
}

